

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(270, 20%, 96%);
    border: 3vw solid hsl(0, 0%, 100%);
    border-radius: 8vw;
    box-shadow: 4vw 4vw 8vw hsl(300, 1%, 83%);
    position: relative;
    z-index: 0;
    width: 60vw;
    height: auto
}

.notch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw 8vw 2vw 8vw;
    border-radius: 0vw 0vw 4vw 4vw;
    width: 35%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
    top: -.5vw
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(270deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: hsl(0, 0%, 100%);
    z-index: 1;
    border-radius: 5vw 5vw 1vw 1vw;
    align-items: center;
    padding: 9vw 3vw 2vw 2vw;
    width: 55vw
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.pic-and-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.pic-and-icon span {
    font-weight: 700;
    padding-right: 1vw;
}

.pic-and-icon img {
    width: 6vw;
    height: auto;
    border: .5vw solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.profile-writing {
    font-size: 0.5em;
    padding-left: 3vw
}

.profile-writing h3 {
    font-size: 1.3em;
    margin: 0vw 0vw .5vw 0vw
}

.profile-writing span {
    color: hsl(276, 100%, 81%);
}

.left